<!DOCTYPE html>
<html>
    <head> 
        <%- include("../partials/head")%>
        <title><%=nickname%>'s Profile</title>
    </head>
    <body>
        <%- include("../partials/nav")%>
        <div class="container mb-3 bg-light">
            <h2 class=""><%=nickname%>'s Profile</h2>
            <a class="btn btn-secondary" href="/user/edit">Edit Profile</a>
        </div>
    </body>
</html>