<!DOCTYPE html>
<html>
    <head> 
        <%- include("../partials/head")%>
        <title>Login</title>
    </head>
    <body>
        <%- include("../partials/nav")%>
        <div class="container mb-3 bg-light">
            <h3 class="contentBoxTop mt-3 mb-3">YOU ARE LOGINED!</h3>
        </div>
    </body>
</html>