<!DOCTYPE html>
<html>
    <head> 
        <%- include("../partials/head")%>
    </head>
    <body>
        <%- include("../partials/nav")%>
        <div class="jumbotron">
            HI
        </div>
        <a class="btn btn-primary btn-lg" href="#">Button</a>
    </body>
</html>