<!DOCTYPE html>
<html>
    <head> 
        <%- include("../partials/head")%>
    </head>
    <body>
        <%- include("../partials/nav")%>
        <div class="bg-light p-5 border rounded-3">
            <h1 class="display-4">BookMarker</h1>
            <br>
            북마크를 쉽고 효율적으로 관리해보세요.

            <br>
            <a class="btn btn-primary btn-lg" href="#">Try it!</a>
        </div>
    </body>
</html>